<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpe.msbireport.mapper.TotalSummaryMapper" >
  <resultMap id="BaseResultMap" type="com.hpe.msbireport.domain.TotalSummary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="month_indicator" property="monthIndicator" jdbcType="INTEGER" />
    <result column="total_name" property="totalName" jdbcType="INTEGER" />
    <result column="day_01" property="day01" jdbcType="INTEGER" />
    <result column="day_02" property="day02" jdbcType="INTEGER" />
    <result column="day_03" property="day03" jdbcType="INTEGER" />
    <result column="day_04" property="day04" jdbcType="INTEGER" />
    <result column="day_05" property="day05" jdbcType="INTEGER" />
    <result column="day_06" property="day06" jdbcType="INTEGER" />
    <result column="day_07" property="day07" jdbcType="INTEGER" />
    <result column="day_08" property="day08" jdbcType="INTEGER" />
    <result column="day_09" property="day09" jdbcType="INTEGER" />
    <result column="day_10" property="day10" jdbcType="INTEGER" />
    <result column="day_11" property="day11" jdbcType="INTEGER" />
    <result column="day_12" property="day12" jdbcType="INTEGER" />
    <result column="day_13" property="day13" jdbcType="INTEGER" />
    <result column="day_14" property="day14" jdbcType="INTEGER" />
    <result column="day_15" property="day15" jdbcType="INTEGER" />
    <result column="day_16" property="day16" jdbcType="INTEGER" />
    <result column="day_17" property="day17" jdbcType="INTEGER" />
    <result column="day_18" property="day18" jdbcType="INTEGER" />
    <result column="day_19" property="day19" jdbcType="INTEGER" />
    <result column="day_20" property="day20" jdbcType="INTEGER" />
    <result column="day_21" property="day21" jdbcType="INTEGER" />
    <result column="day_22" property="day22" jdbcType="INTEGER" />
    <result column="day_23" property="day23" jdbcType="INTEGER" />
    <result column="day_24" property="day24" jdbcType="INTEGER" />
    <result column="day_25" property="day25" jdbcType="INTEGER" />
    <result column="day_26" property="day26" jdbcType="INTEGER" />
    <result column="day_27" property="day27" jdbcType="INTEGER" />
    <result column="day_28" property="day28" jdbcType="INTEGER" />
    <result column="day_29" property="day29" jdbcType="INTEGER" />
    <result column="day_30" property="day30" jdbcType="INTEGER" />
    <result column="day_31" property="day31" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, month_indicator, total_name, day_01, day_02, day_03, day_04, day_05, day_06, 
    day_07, day_08, day_09, day_10, day_11, day_12, day_13, day_14, day_15, day_16, day_17, 
    day_18, day_19, day_20, day_21, day_22, day_23, day_24, day_25, day_26, day_27, day_28, 
    day_29, day_30, day_31
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hpe.msbireport.domain.TotalSummaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from total_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from total_summary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from total_summary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hpe.msbireport.domain.TotalSummaryExample" >
    delete from total_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hpe.msbireport.domain.TotalSummary" >
    insert into total_summary (id, month_indicator, total_name, 
      day_01, day_02, day_03, 
      day_04, day_05, day_06, 
      day_07, day_08, day_09, 
      day_10, day_11, day_12, 
      day_13, day_14, day_15, 
      day_16, day_17, day_18, 
      day_19, day_20, day_21, 
      day_22, day_23, day_24, 
      day_25, day_26, day_27, 
      day_28, day_29, day_30, 
      day_31)
    values (#{id,jdbcType=INTEGER}, #{monthIndicator,jdbcType=INTEGER}, #{totalName,jdbcType=INTEGER}, 
      #{day01,jdbcType=INTEGER}, #{day02,jdbcType=INTEGER}, #{day03,jdbcType=INTEGER}, 
      #{day04,jdbcType=INTEGER}, #{day05,jdbcType=INTEGER}, #{day06,jdbcType=INTEGER}, 
      #{day07,jdbcType=INTEGER}, #{day08,jdbcType=INTEGER}, #{day09,jdbcType=INTEGER}, 
      #{day10,jdbcType=INTEGER}, #{day11,jdbcType=INTEGER}, #{day12,jdbcType=INTEGER}, 
      #{day13,jdbcType=INTEGER}, #{day14,jdbcType=INTEGER}, #{day15,jdbcType=INTEGER}, 
      #{day16,jdbcType=INTEGER}, #{day17,jdbcType=INTEGER}, #{day18,jdbcType=INTEGER}, 
      #{day19,jdbcType=INTEGER}, #{day20,jdbcType=INTEGER}, #{day21,jdbcType=INTEGER}, 
      #{day22,jdbcType=INTEGER}, #{day23,jdbcType=INTEGER}, #{day24,jdbcType=INTEGER}, 
      #{day25,jdbcType=INTEGER}, #{day26,jdbcType=INTEGER}, #{day27,jdbcType=INTEGER}, 
      #{day28,jdbcType=INTEGER}, #{day29,jdbcType=INTEGER}, #{day30,jdbcType=INTEGER}, 
      #{day31,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hpe.msbireport.domain.TotalSummary" >
    insert into total_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="monthIndicator != null" >
        month_indicator,
      </if>
      <if test="totalName != null" >
        total_name,
      </if>
      <if test="day01 != null" >
        day_01,
      </if>
      <if test="day02 != null" >
        day_02,
      </if>
      <if test="day03 != null" >
        day_03,
      </if>
      <if test="day04 != null" >
        day_04,
      </if>
      <if test="day05 != null" >
        day_05,
      </if>
      <if test="day06 != null" >
        day_06,
      </if>
      <if test="day07 != null" >
        day_07,
      </if>
      <if test="day08 != null" >
        day_08,
      </if>
      <if test="day09 != null" >
        day_09,
      </if>
      <if test="day10 != null" >
        day_10,
      </if>
      <if test="day11 != null" >
        day_11,
      </if>
      <if test="day12 != null" >
        day_12,
      </if>
      <if test="day13 != null" >
        day_13,
      </if>
      <if test="day14 != null" >
        day_14,
      </if>
      <if test="day15 != null" >
        day_15,
      </if>
      <if test="day16 != null" >
        day_16,
      </if>
      <if test="day17 != null" >
        day_17,
      </if>
      <if test="day18 != null" >
        day_18,
      </if>
      <if test="day19 != null" >
        day_19,
      </if>
      <if test="day20 != null" >
        day_20,
      </if>
      <if test="day21 != null" >
        day_21,
      </if>
      <if test="day22 != null" >
        day_22,
      </if>
      <if test="day23 != null" >
        day_23,
      </if>
      <if test="day24 != null" >
        day_24,
      </if>
      <if test="day25 != null" >
        day_25,
      </if>
      <if test="day26 != null" >
        day_26,
      </if>
      <if test="day27 != null" >
        day_27,
      </if>
      <if test="day28 != null" >
        day_28,
      </if>
      <if test="day29 != null" >
        day_29,
      </if>
      <if test="day30 != null" >
        day_30,
      </if>
      <if test="day31 != null" >
        day_31,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="monthIndicator != null" >
        #{monthIndicator,jdbcType=INTEGER},
      </if>
      <if test="totalName != null" >
        #{totalName,jdbcType=INTEGER},
      </if>
      <if test="day01 != null" >
        #{day01,jdbcType=INTEGER},
      </if>
      <if test="day02 != null" >
        #{day02,jdbcType=INTEGER},
      </if>
      <if test="day03 != null" >
        #{day03,jdbcType=INTEGER},
      </if>
      <if test="day04 != null" >
        #{day04,jdbcType=INTEGER},
      </if>
      <if test="day05 != null" >
        #{day05,jdbcType=INTEGER},
      </if>
      <if test="day06 != null" >
        #{day06,jdbcType=INTEGER},
      </if>
      <if test="day07 != null" >
        #{day07,jdbcType=INTEGER},
      </if>
      <if test="day08 != null" >
        #{day08,jdbcType=INTEGER},
      </if>
      <if test="day09 != null" >
        #{day09,jdbcType=INTEGER},
      </if>
      <if test="day10 != null" >
        #{day10,jdbcType=INTEGER},
      </if>
      <if test="day11 != null" >
        #{day11,jdbcType=INTEGER},
      </if>
      <if test="day12 != null" >
        #{day12,jdbcType=INTEGER},
      </if>
      <if test="day13 != null" >
        #{day13,jdbcType=INTEGER},
      </if>
      <if test="day14 != null" >
        #{day14,jdbcType=INTEGER},
      </if>
      <if test="day15 != null" >
        #{day15,jdbcType=INTEGER},
      </if>
      <if test="day16 != null" >
        #{day16,jdbcType=INTEGER},
      </if>
      <if test="day17 != null" >
        #{day17,jdbcType=INTEGER},
      </if>
      <if test="day18 != null" >
        #{day18,jdbcType=INTEGER},
      </if>
      <if test="day19 != null" >
        #{day19,jdbcType=INTEGER},
      </if>
      <if test="day20 != null" >
        #{day20,jdbcType=INTEGER},
      </if>
      <if test="day21 != null" >
        #{day21,jdbcType=INTEGER},
      </if>
      <if test="day22 != null" >
        #{day22,jdbcType=INTEGER},
      </if>
      <if test="day23 != null" >
        #{day23,jdbcType=INTEGER},
      </if>
      <if test="day24 != null" >
        #{day24,jdbcType=INTEGER},
      </if>
      <if test="day25 != null" >
        #{day25,jdbcType=INTEGER},
      </if>
      <if test="day26 != null" >
        #{day26,jdbcType=INTEGER},
      </if>
      <if test="day27 != null" >
        #{day27,jdbcType=INTEGER},
      </if>
      <if test="day28 != null" >
        #{day28,jdbcType=INTEGER},
      </if>
      <if test="day29 != null" >
        #{day29,jdbcType=INTEGER},
      </if>
      <if test="day30 != null" >
        #{day30,jdbcType=INTEGER},
      </if>
      <if test="day31 != null" >
        #{day31,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hpe.msbireport.domain.TotalSummaryExample" resultType="java.lang.Integer" >
    select count(*) from total_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update total_summary
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.monthIndicator != null" >
        month_indicator = #{record.monthIndicator,jdbcType=INTEGER},
      </if>
      <if test="record.totalName != null" >
        total_name = #{record.totalName,jdbcType=INTEGER},
      </if>
      <if test="record.day01 != null" >
        day_01 = #{record.day01,jdbcType=INTEGER},
      </if>
      <if test="record.day02 != null" >
        day_02 = #{record.day02,jdbcType=INTEGER},
      </if>
      <if test="record.day03 != null" >
        day_03 = #{record.day03,jdbcType=INTEGER},
      </if>
      <if test="record.day04 != null" >
        day_04 = #{record.day04,jdbcType=INTEGER},
      </if>
      <if test="record.day05 != null" >
        day_05 = #{record.day05,jdbcType=INTEGER},
      </if>
      <if test="record.day06 != null" >
        day_06 = #{record.day06,jdbcType=INTEGER},
      </if>
      <if test="record.day07 != null" >
        day_07 = #{record.day07,jdbcType=INTEGER},
      </if>
      <if test="record.day08 != null" >
        day_08 = #{record.day08,jdbcType=INTEGER},
      </if>
      <if test="record.day09 != null" >
        day_09 = #{record.day09,jdbcType=INTEGER},
      </if>
      <if test="record.day10 != null" >
        day_10 = #{record.day10,jdbcType=INTEGER},
      </if>
      <if test="record.day11 != null" >
        day_11 = #{record.day11,jdbcType=INTEGER},
      </if>
      <if test="record.day12 != null" >
        day_12 = #{record.day12,jdbcType=INTEGER},
      </if>
      <if test="record.day13 != null" >
        day_13 = #{record.day13,jdbcType=INTEGER},
      </if>
      <if test="record.day14 != null" >
        day_14 = #{record.day14,jdbcType=INTEGER},
      </if>
      <if test="record.day15 != null" >
        day_15 = #{record.day15,jdbcType=INTEGER},
      </if>
      <if test="record.day16 != null" >
        day_16 = #{record.day16,jdbcType=INTEGER},
      </if>
      <if test="record.day17 != null" >
        day_17 = #{record.day17,jdbcType=INTEGER},
      </if>
      <if test="record.day18 != null" >
        day_18 = #{record.day18,jdbcType=INTEGER},
      </if>
      <if test="record.day19 != null" >
        day_19 = #{record.day19,jdbcType=INTEGER},
      </if>
      <if test="record.day20 != null" >
        day_20 = #{record.day20,jdbcType=INTEGER},
      </if>
      <if test="record.day21 != null" >
        day_21 = #{record.day21,jdbcType=INTEGER},
      </if>
      <if test="record.day22 != null" >
        day_22 = #{record.day22,jdbcType=INTEGER},
      </if>
      <if test="record.day23 != null" >
        day_23 = #{record.day23,jdbcType=INTEGER},
      </if>
      <if test="record.day24 != null" >
        day_24 = #{record.day24,jdbcType=INTEGER},
      </if>
      <if test="record.day25 != null" >
        day_25 = #{record.day25,jdbcType=INTEGER},
      </if>
      <if test="record.day26 != null" >
        day_26 = #{record.day26,jdbcType=INTEGER},
      </if>
      <if test="record.day27 != null" >
        day_27 = #{record.day27,jdbcType=INTEGER},
      </if>
      <if test="record.day28 != null" >
        day_28 = #{record.day28,jdbcType=INTEGER},
      </if>
      <if test="record.day29 != null" >
        day_29 = #{record.day29,jdbcType=INTEGER},
      </if>
      <if test="record.day30 != null" >
        day_30 = #{record.day30,jdbcType=INTEGER},
      </if>
      <if test="record.day31 != null" >
        day_31 = #{record.day31,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update total_summary
    set id = #{record.id,jdbcType=INTEGER},
      month_indicator = #{record.monthIndicator,jdbcType=INTEGER},
      total_name = #{record.totalName,jdbcType=INTEGER},
      day_01 = #{record.day01,jdbcType=INTEGER},
      day_02 = #{record.day02,jdbcType=INTEGER},
      day_03 = #{record.day03,jdbcType=INTEGER},
      day_04 = #{record.day04,jdbcType=INTEGER},
      day_05 = #{record.day05,jdbcType=INTEGER},
      day_06 = #{record.day06,jdbcType=INTEGER},
      day_07 = #{record.day07,jdbcType=INTEGER},
      day_08 = #{record.day08,jdbcType=INTEGER},
      day_09 = #{record.day09,jdbcType=INTEGER},
      day_10 = #{record.day10,jdbcType=INTEGER},
      day_11 = #{record.day11,jdbcType=INTEGER},
      day_12 = #{record.day12,jdbcType=INTEGER},
      day_13 = #{record.day13,jdbcType=INTEGER},
      day_14 = #{record.day14,jdbcType=INTEGER},
      day_15 = #{record.day15,jdbcType=INTEGER},
      day_16 = #{record.day16,jdbcType=INTEGER},
      day_17 = #{record.day17,jdbcType=INTEGER},
      day_18 = #{record.day18,jdbcType=INTEGER},
      day_19 = #{record.day19,jdbcType=INTEGER},
      day_20 = #{record.day20,jdbcType=INTEGER},
      day_21 = #{record.day21,jdbcType=INTEGER},
      day_22 = #{record.day22,jdbcType=INTEGER},
      day_23 = #{record.day23,jdbcType=INTEGER},
      day_24 = #{record.day24,jdbcType=INTEGER},
      day_25 = #{record.day25,jdbcType=INTEGER},
      day_26 = #{record.day26,jdbcType=INTEGER},
      day_27 = #{record.day27,jdbcType=INTEGER},
      day_28 = #{record.day28,jdbcType=INTEGER},
      day_29 = #{record.day29,jdbcType=INTEGER},
      day_30 = #{record.day30,jdbcType=INTEGER},
      day_31 = #{record.day31,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hpe.msbireport.domain.TotalSummary" >
    update total_summary
    <set >
      <if test="monthIndicator != null" >
        month_indicator = #{monthIndicator,jdbcType=INTEGER},
      </if>
      <if test="totalName != null" >
        total_name = #{totalName,jdbcType=INTEGER},
      </if>
      <if test="day01 != null" >
        day_01 = #{day01,jdbcType=INTEGER},
      </if>
      <if test="day02 != null" >
        day_02 = #{day02,jdbcType=INTEGER},
      </if>
      <if test="day03 != null" >
        day_03 = #{day03,jdbcType=INTEGER},
      </if>
      <if test="day04 != null" >
        day_04 = #{day04,jdbcType=INTEGER},
      </if>
      <if test="day05 != null" >
        day_05 = #{day05,jdbcType=INTEGER},
      </if>
      <if test="day06 != null" >
        day_06 = #{day06,jdbcType=INTEGER},
      </if>
      <if test="day07 != null" >
        day_07 = #{day07,jdbcType=INTEGER},
      </if>
      <if test="day08 != null" >
        day_08 = #{day08,jdbcType=INTEGER},
      </if>
      <if test="day09 != null" >
        day_09 = #{day09,jdbcType=INTEGER},
      </if>
      <if test="day10 != null" >
        day_10 = #{day10,jdbcType=INTEGER},
      </if>
      <if test="day11 != null" >
        day_11 = #{day11,jdbcType=INTEGER},
      </if>
      <if test="day12 != null" >
        day_12 = #{day12,jdbcType=INTEGER},
      </if>
      <if test="day13 != null" >
        day_13 = #{day13,jdbcType=INTEGER},
      </if>
      <if test="day14 != null" >
        day_14 = #{day14,jdbcType=INTEGER},
      </if>
      <if test="day15 != null" >
        day_15 = #{day15,jdbcType=INTEGER},
      </if>
      <if test="day16 != null" >
        day_16 = #{day16,jdbcType=INTEGER},
      </if>
      <if test="day17 != null" >
        day_17 = #{day17,jdbcType=INTEGER},
      </if>
      <if test="day18 != null" >
        day_18 = #{day18,jdbcType=INTEGER},
      </if>
      <if test="day19 != null" >
        day_19 = #{day19,jdbcType=INTEGER},
      </if>
      <if test="day20 != null" >
        day_20 = #{day20,jdbcType=INTEGER},
      </if>
      <if test="day21 != null" >
        day_21 = #{day21,jdbcType=INTEGER},
      </if>
      <if test="day22 != null" >
        day_22 = #{day22,jdbcType=INTEGER},
      </if>
      <if test="day23 != null" >
        day_23 = #{day23,jdbcType=INTEGER},
      </if>
      <if test="day24 != null" >
        day_24 = #{day24,jdbcType=INTEGER},
      </if>
      <if test="day25 != null" >
        day_25 = #{day25,jdbcType=INTEGER},
      </if>
      <if test="day26 != null" >
        day_26 = #{day26,jdbcType=INTEGER},
      </if>
      <if test="day27 != null" >
        day_27 = #{day27,jdbcType=INTEGER},
      </if>
      <if test="day28 != null" >
        day_28 = #{day28,jdbcType=INTEGER},
      </if>
      <if test="day29 != null" >
        day_29 = #{day29,jdbcType=INTEGER},
      </if>
      <if test="day30 != null" >
        day_30 = #{day30,jdbcType=INTEGER},
      </if>
      <if test="day31 != null" >
        day_31 = #{day31,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hpe.msbireport.domain.TotalSummary" >
    update total_summary
    set month_indicator = #{monthIndicator,jdbcType=INTEGER},
      total_name = #{totalName,jdbcType=INTEGER},
      day_01 = #{day01,jdbcType=INTEGER},
      day_02 = #{day02,jdbcType=INTEGER},
      day_03 = #{day03,jdbcType=INTEGER},
      day_04 = #{day04,jdbcType=INTEGER},
      day_05 = #{day05,jdbcType=INTEGER},
      day_06 = #{day06,jdbcType=INTEGER},
      day_07 = #{day07,jdbcType=INTEGER},
      day_08 = #{day08,jdbcType=INTEGER},
      day_09 = #{day09,jdbcType=INTEGER},
      day_10 = #{day10,jdbcType=INTEGER},
      day_11 = #{day11,jdbcType=INTEGER},
      day_12 = #{day12,jdbcType=INTEGER},
      day_13 = #{day13,jdbcType=INTEGER},
      day_14 = #{day14,jdbcType=INTEGER},
      day_15 = #{day15,jdbcType=INTEGER},
      day_16 = #{day16,jdbcType=INTEGER},
      day_17 = #{day17,jdbcType=INTEGER},
      day_18 = #{day18,jdbcType=INTEGER},
      day_19 = #{day19,jdbcType=INTEGER},
      day_20 = #{day20,jdbcType=INTEGER},
      day_21 = #{day21,jdbcType=INTEGER},
      day_22 = #{day22,jdbcType=INTEGER},
      day_23 = #{day23,jdbcType=INTEGER},
      day_24 = #{day24,jdbcType=INTEGER},
      day_25 = #{day25,jdbcType=INTEGER},
      day_26 = #{day26,jdbcType=INTEGER},
      day_27 = #{day27,jdbcType=INTEGER},
      day_28 = #{day28,jdbcType=INTEGER},
      day_29 = #{day29,jdbcType=INTEGER},
      day_30 = #{day30,jdbcType=INTEGER},
      day_31 = #{day31,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.hpe.msbireport.domain.TotalSummaryExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from total_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>